DEBUG=True
SECRET_KEY=
GOOGLE_GEMINI_API_KEY=
GOOGLE_BOOKS_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FIELD_ENCRYPTION_KEY=
RESEND_API_KEY=
DEFAULT_FROM_EMAIL=

# 本番環境では以下を設定する
# ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
ALLOWED_HOSTS=

# 本番環境では全て True に変更する
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# 本番環境では 31536000 (1年) を推奨
SECURE_HSTS_SECONDS=0
